body{
width: 100%;
background-image: linear-gradient( rgb(49, 49, 251) ,rgb(162, 162, 249));

}


.row{
  
  font-size: 30px;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;
  
}

.maxlabel{
  font-size: 35px;
  
}

.minlabel{
  font-size: 25px;
  
}

.temperatureMAX{
  color: rgb(223, 86, 86);
  padding-top: 0px;
  
}

.temperatureMIN{
  color: rgb(100, 112, 247);
  font-size: 50px;
  
  
}

.row .column{
  float: left;
  padding: 20px;
  outline: 2px inset white;
  width: 20%;
  text-align: center;
  background-color: white;
  
}

.daylabel{
  font-size: 60px;
  
}

.top-bar{
  text-align: center;
  font-size: 30px;
}

.input-area{
  text-align: center;
  
  padding: 40px;
  display:block;
}

#cityInput{
  text-transform: uppercase;
  
}

.currentWeather{
  text-align: center;
  padding: 35px;
  font-style: oblique;
  border-radius: 50px;
  background-color: white;
}

.row .column .weatherIcon{
  height: 200;
  width: 200;
}






