

body{
  background-image: linear-gradient( rgb(49, 49, 251) ,rgb(162, 162, 249));
  margin: 0px;
  
}


.top-bar{
  display: flex;
  height: 70px;
  width: 100%;
  background-color: rgb(113, 113, 135);
  

}
.top-bar h1{
  padding: 10px;
  font-size: 40px;
  color: beige;
  margin: 0%;
}

.currentWeather{
 margin: auto;
  margin-top: 30px;
  text-align: center;
  padding: 35px;
  width: 20em;
  border-radius: 50px;
  background-color: white;
  box-shadow: -7px 7px rgb(146, 145, 145);
  
}


.row{
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;
  
  
}

.maxlabel{
  font-size: 35px;
  margin-bottom: auto;
  
}

.minlabel{
  font-size: 25px;
  margin-top: auto;
}

.temperatureMAX{
  color: rgb(223, 86, 86);
  margin-top: 10px;
  font-size: 50px;
  
}

.temperatureMIN{
  color: rgb(100, 112, 247);
  font-size: 40px;
  margin-bottom: 20px;
  
  
}

.row .column{
  float: left;
  width: 20%;
  text-align: center;
  background-color: white;
  
  
}

.daylabel{
  font-size: 60px;
  
}



.input-area{
  text-align: center;
  padding: 10px;
  
}

#cityInput{
  text-transform: uppercase;
  
}



.row .column .weatherIcon{
  height: 150px;
  width: 150px;
}






