

body{
  background-image: linear-gradient( rgb(49, 49, 251) ,rgb(162, 162, 249));
  margin: 0px;

  
}


.top-bar{
  display: flex;
  height: 70px;
  width: 100%;
  background-color: rgb(175, 175, 187);

}

.top-bar h1{
  padding: 10px;
  font-size: 40px;
  color: rgb(240, 240, 183);
  margin: 0%;
}

.top-row .currentWeather{
 
  margin-top: 30px;
  text-align: center;
  padding: 35px;
  width: 20em;
  border-radius: 50px;
  background-color: white;
  box-shadow: -7px 7px rgb(146, 145, 145); 
  position: relative;
  
}


.row{
  padding: 40px;
}

.row .temperature-box{
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: -7px 7px rgb(146, 145, 145);
  width: 85%;
  margin: auto;
  border-radius: 50px;
  background-color: white;
}

.row .column .weatherIcon{
  height: 150px;
  width: 150px;
}



.temperatureMAX{
  color: rgb(223, 86, 86);
  margin-top: 10px;
  font-size: 40px;
  
}

.temperatureMIN{
  color: rgb(100, 112, 247);
  font-size: 35px;
  margin-bottom: 20px;
  
  
}

.row .column{
  float: left;
  width: 20%;
  text-align: center;
  
  
}

.daylabel{
  font-size: 40px;
  margin-top: 25px;
  margin-bottom: 0px;
  
}




.currentWeather #cityInput{
  text-transform: uppercase;
  --target-size: 48px;
  --box-height: var(--target-size);
  --border-width: 3px;
  --border-radius: 20px;
  max-width: 561px;
  --side-margin: calc(var(--border-radius) / 2);    
 

  height: var(--box-height);
  
}

.currentWeather input[type='search'] {
  border: var(--border-width) solid var(--dark-gray);
  border-radius: var(--border-radius);
  height: 100%;
  width: 100%;
  padding-left: calc(var(--side-margin) + var(--icon-size) + 4px);
  outline: auto;
  color: var(--dark-gray);
  font-family: 'Noto Sans', Verdana, sans-serif;
  font-size: 1rem;
} 

.currentWeather input[type='search']::placeholder {
  color: var(--dark-gray);
  opacity: 1;
} 

.currentWeather input[type='search']:focus {
  color: var(--light-gray);
  opacity: 1;
}

.top-row{
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.top-row iframe{
  margin-top: 20px;
  margin-left: 20px;
  padding: 30px;

}

.weekdaylabel{
  font-size: 25px;
  
}








